.title-bar {
	width: calc(100% - 10px);
	position: fixed;
	top: 0;
	z-index: 1000;
}

.title-bar-text {
	font-family: "XP";
}


/* Position tabs at the top of the screen */
.tabs {
    position: fixed;
	font-family: "XP";
    top: 50px; /* Adjust based on title bar height */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Ensure perfect centering */
    width: calc(100% - 100px); /* Adjust width as needed */
    max-width: 1500px; /* Maintain original max-width */
    z-index: 10; /* Ensure it's above other content */
}
