body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

button {
    font-family: 'Digital-7', sans-serif;
    font-size: 12pt;
	text-align: center;
	position: absolute;
	min-width: 80px;
	border-radius: 0;
	z-index: 1;
}

.startButton {
    top: 50%;
    left: 40%;
}

@font-face {
    font-family: 'Digital-7';
    src: url('../fonts/digital_7/digital-7 (mono).ttf') format('truetype');
}